body{
    font: bold;
}
.navbar{
    background-color: #3b3b3b;
}
.quem-somos{
    background-color: #585858;
    color: white;
}
.margin  {
    padding-bottom: 50px;
    padding-top: 10px;

}  
.parceiros{
    background-color: #898a8b;
}
.bg-footer{
    background-color:#4e4f4f;
    color: white;
    ;
}
